<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coffee - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <link rel="stylesheet" href="~/customer_asset/css/open-iconic-bootstrap.min.css">

    <link rel="stylesheet" href="~/customer_asset/css/animate.css">

    <link rel="stylesheet" href="~/customer_asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/customer_asset/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/customer_asset/css/magnific-popup.css">

    <link rel="stylesheet" href="~/customer_asset/css/aos.css">

    <link rel="stylesheet" href="~/customer_asset/css/ionicons.min.css">

    <link rel="stylesheet" href="~/customer_asset/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/customer_asset/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/customer_asset/css/flaticon.css">
    <link rel="stylesheet" href="~/customer_asset/css/icomoon.css">
    <link rel="stylesheet" href="~/customer_asset/css/style.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <partial name="/Views/Shared/_NavBar.cshtml" >
    </header>
    @RenderBody()
        

    <footer class="border-top page-footer text-muted">
        <div class="container">
            &copy; 2022 - TungaRestaurant - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/customer_asset/js/jquery.min.js"></script>
    <script src="~/customer_asset/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/customer_asset/js/popper.min.js"></script>
    <script src="~/customer_asset/js/bootstrap.min.js"></script>
    <script src="~/customer_asset/js/jquery.easing.1.3.js"></script>
    <script src="~/customer_asset/js/jquery.waypoints.min.js"></script>
    <script src="~/customer_asset/js/jquery.stellar.min.js"></script>
    <script src="~/customer_asset/js/owl.carousel.min.js"></script>
    <script src="~/customer_asset/js/jquery.magnific-popup.min.js"></script>
    <script src="~/customer_asset/js/aos.js"></script>
    <script src="~/customer_asset/js/jquery.animateNumber.min.js"></script>
    <script src="~/customer_asset/js/bootstrap-datepicker.js"></script>
    <script src="~/customer_asset/js/jquery.timepicker.min.js"></script>
    <script src="~/customer_asset/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/customer_asset/js/google-map.js"></script>
    <script src="~/customer_asset/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>